data/files/xsd/Compac.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:compac="http://www.cfdi.com.mx/ContpaqiSchemas/addendas/1" targetNamespace="http://www.cfdi.com.mx/ContpaqiSchemas/addendas/1" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="Compac">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Encabezado">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MGW10008">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MGW10045">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cEsTrad" type="xs:string" use="optional" />
                                                        <xs:attribute name="cIniVig" type="xs:string" use="optional" />
                                                        <xs:attribute name="cFinVig" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MGW10007">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cDescrip01" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MGW10034">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cNombreM01" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MGW10002">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cCodigoC01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cDiasCre01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cCurp" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoExtra1" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoExtra2" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoExtra3" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoExtra4" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoExtra5" type="xs:string" use="optional" />
                                                        <xs:attribute name="cFechaExtra" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporteExtra1" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporteExtra2" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporteExtra3" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporteExtra4" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporteExtra5" type="xs:string" use="optional" />
                                                        <xs:attribute name="cLimiteC01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cInteres01" type="xs:string" use="optional" />
                                                        <xs:attribute name="CDenCome01" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MGW10001">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cCodigoA01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cNombreA01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoEx01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoEx02" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoEx03" type="xs:string" use="optional" />
                                                        <xs:attribute name="cFechaEx01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporte01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporte02" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporte03" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporte04" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MGW10000">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cCurpEmp01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cCFDImpu01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cCFDImpu02" type="xs:string" use="optional" />
                                                        <xs:attribute name="cCFDImpu03" type="xs:string" use="optional" />
                                                        <xs:attribute name="cCFDImpu04" type="xs:string" use="optional" />
                                                        <xs:attribute name="cCFDImpu05" type="xs:string" use="optional" />
                                                        <xs:attribute name="cNumDonat" type="xs:string" use="optional" />
                                                        <xs:attribute name="cFecDonat" type="xs:string" use="optional" />
                                                        <xs:attribute name="cReprese01" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DirCteEnv">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cNombreC01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cNumeroE01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cNumeroI01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cColonia" type="xs:string" use="optional" />
                                                        <xs:attribute name="cCodigoP01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTelefono1" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTelefono2" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTelefono3" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTelefono4" type="xs:string" use="optional" />
                                                        <xs:attribute name="cEmail" type="xs:string" use="optional" />
                                                        <xs:attribute name="cDireccI01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cPais" type="xs:string" use="optional" />
                                                        <xs:attribute name="cEstado" type="xs:string" use="optional" />
                                                        <xs:attribute name="cCiudad" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoEx01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cMunicipio" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DirCteFis">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cNombreC01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cNumeroE01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cNumeroI01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTelefono1" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTelefono2" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTelefono3" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTelefono4" type="xs:string" use="optional" />
                                                        <xs:attribute name="cEmail" type="xs:string" use="optional" />
                                                        <xs:attribute name="cDireccI01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoEx01" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DirEmp">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cNombreC01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cNumeroE01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cNumeroI01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTelefono1" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTelefono2" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTelefono3" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTelefono4" type="xs:string" use="optional" />
                                                        <xs:attribute name="cEmail" type="xs:string" use="optional" />
                                                        <xs:attribute name="cDireccI01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoEx01" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Funciones">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="f_NomSucEmpresa" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CalleSucEmp" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NoExtSucEmp" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NoIntSucEmp" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_DoctoOrigen" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETOCONDESC" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALLETRA" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALLETRAING" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALDESC1MOVTOS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALDESC2MOVTOS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALDESC3MOVTOS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALDESC4MOVTOS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALDESC5MOVTOS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALIMPMILLARLETRA1" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALIMPMILLARLETRA2" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALIMPMILLARLETRA3" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALIMPMILLARLETRA4" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALIMPMILLARLETRA5" type="xs:string" use="optional" />           
                                                        <xs:attribute name="f_EFECTOPAGO" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALEFECTOPAGO" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALEFECTOPAGOLETRA" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETOSEIMPUESTOSDOC" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETOCONDESCPOS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETODESCIVADOC0" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETODESCIVADOCEX" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETODESCIVADOC11" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETODESCIVADOC16" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NOMBRECONCEPTO" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_REGIMENFISCAL" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_SUBTOTALSINRETCONDESC" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_SUBTOTALSINRETSINDESC" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_SUBTOTALIEPS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETODOCTOIEPSSINDESC" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_DESCTODOCTOPUNITARIOIEPS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFCLIENTE1" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFCLIENTE2" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFCLIENTE3" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFCLIENTE4" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFCLIENTE5" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFCLIENTE6" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFCLIENTE7" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Imagenes">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="e_ADMINPAQ" type="xs:string" use="optional" />
                                                        <xs:attribute name="i_ADMINPAQ" type="xs:string" use="optional" />
                                                        <xs:attribute name="e_LOGOEMPRESA" type="xs:string" use="optional" />
                                                        <xs:attribute name="i_LOGOEMPRESA" type="xs:string" use="optional" />
                                                        <xs:attribute name="e_CEDULAEMPRESA" type="xs:string" use="optional" />
                                                        <xs:attribute name="i_CEDULAEMPRESA" type="xs:string" use="optional" />
                                                        <xs:attribute name="e_CBB" type="xs:string" use="optional" />
                                                        <xs:attribute name="i_CBB" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MGW10006" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cRegimFisc" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="cSerieDo01" type="xs:string" use="optional" />
                                    <xs:attribute name="cFolio" type="xs:string" use="optional" />
                                    <xs:attribute name="cReferen01" type="xs:string" use="optional" />
                                    <xs:attribute name="cFechaVencimiento" type="xs:string" use="optional" />
                                    <xs:attribute name="cObserva01" type="xs:string" use="optional" />
                                    <xs:attribute name="cTextoEx01" type="xs:string" use="optional" />
                                    <xs:attribute name="cTextoEx02" type="xs:string" use="optional" />
                                    <xs:attribute name="cTextoEx03" type="xs:string" use="optional" />
                                    <xs:attribute name="cFechaEx01" type="xs:string" use="optional" />
                                    <xs:attribute name="cImporte01" type="xs:string" use="optional" />
                                    <xs:attribute name="cImporte02" type="xs:string" use="optional" />
                                    <xs:attribute name="cImporte03" type="xs:string" use="optional" />
                                    <xs:attribute name="cImporte04" type="xs:string" use="optional" />
                                    <xs:attribute name="cTotalUn01" type="xs:string" use="optional" />
                                    <xs:attribute name="cTipoCam01" type="xs:string" use="optional" />
                                    <xs:attribute name="cPendiente" type="xs:string" use="optional" />
                                    <xs:attribute name="cDescuen01" type="xs:string" use="optional" />
                                    <xs:attribute name="cDescuen04" type="xs:string" use="optional" />
                                    <xs:attribute name="cImpuesto1" type="xs:string" use="optional" />
                                    <xs:attribute name="cImpuesto2" type="xs:string" use="optional" />
                                    <xs:attribute name="cImpuesto3" type="xs:string" use="optional" />
                                    <xs:attribute name="cRetenci01" type="xs:string" use="optional" />
                                    <xs:attribute name="cRetenci02" type="xs:string" use="optional" />
                                    <xs:attribute name="cNeto" type="xs:string" use="optional" />
                                    <xs:attribute name="cTotal" type="xs:string" use="optional" />
                                    <xs:attribute name="cFechaEn01" type="xs:string" use="optional" />
                                    <xs:attribute name="cDestina01" type="xs:string" use="optional" />
                                    <xs:attribute name="cNumerog01" type="xs:string" use="optional" />
                                    <xs:attribute name="cMensaje01" type="xs:string" use="optional" />
                                    <xs:attribute name="cNumeroc01" type="xs:string" use="optional" />
                                    <xs:attribute name="cCuentam01" type="xs:string" use="optional" />
                                    <xs:attribute name="cPeso" type="xs:string" use="optional" />
                                    <xs:attribute name="cMetodoPag" type="xs:string" use="optional" />
                                    <xs:attribute name="cCondiPago" type="xs:string" use="optional" />
                                    <xs:attribute name="cNumCtaPag" type="xs:string" use="optional" />
                                    <xs:attribute name="cLugarExpe" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Detalle">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="MGW10010">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MGW10005">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cCodigoP01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cDescrip01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cCodAltern" type="xs:string" use="optional" />
                                                        <xs:attribute name="cCtaPred" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoEx01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoEx02" type="xs:string" use="optional" />
                                                        <xs:attribute name="cTextoEx03" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporte01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporte02" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporte03" type="xs:string" use="optional" />
                                                        <xs:attribute name="cImporte04" type="xs:string" use="optional" />
                                                        <xs:attribute name="cFechaEx01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cNomAltern" type="xs:string" use="optional" />
                                                        <xs:attribute name="cDescCorta" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MGW10003">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cCodigoA01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cNombreA01" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Funciones">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="f_NETOCONDESC" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETOMOVTO" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_IVANETOMOVTO" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_PRECIOIVAMOVTO" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_SERIESHORIZ" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_LOTESHORIZ" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETODESCIVA0" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETODESCIVA11" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETODESCIVA16" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NUMPARTIDA" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTERISTICAMOVTO1" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTERISTICAMOVTO2" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTERISTICAMOVTO3" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTABREVIAMOVTO1" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTABREVIAMOVTO2" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTABREVIAMOVTO3" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTERISTICAUNIDADES" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFPRODUCTOMOVTO1" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFPRODUCTOMOVTO2" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFPRODUCTOMOVTO3" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFPRODUCTOMOVTO4" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFPRODUCTOMOVTO5" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CLASIFPRODUCTOMOVTO6" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETOCONDESCPOS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_PRECIOUNITCONDESC" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALENTREUNIDSMOVTO" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_TOTALPRECIOUNIT" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_PRECIOUNITARIOCONIEPS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETOMOVTOIEPS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_PRECIOUNITCONDESCIEPS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_NETOMOVTOIEPSSINDESC" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_IVAMOVTODESCTOIEPS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_DESCTOPUNITARIOIEPS" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_PRECIOUNITARIOCONIEPSSINDESC" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_ABREVIATURAUNIDADNC" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CANTIDADUNIDADNC" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_PRECIOUNITCONIMPUESTOS" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MGW10000">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cPrecios01" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MGW10025" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="cNumeroL01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cFechaFa01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cFechaCa01" type="xs:string" use="optional" />
                                                        <xs:attribute name="cPedimento" type="xs:string" use="optional" />
                                                        <xs:attribute name="cAduana" type="xs:string" use="optional" />
                                                        <xs:attribute name="cFechaPe01" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Caracteristica" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="f_CARACTERISTICAMOVTO1" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTERISTICAMOVTO2" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTERISTICAMOVTO3" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTABREVIAMOVTO1" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTABREVIAMOVTO2" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTABREVIAMOVTO3" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_CARACTERISTICAUNIDADES" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Lote" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="f_NUMERO_LOTE" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_FECHAFAB_LOTE" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_FECHACAD_LOTE" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Pedimento" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="f_PEDIMENTO" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_ADUANA" type="xs:string" use="optional" />
                                                        <xs:attribute name="f_FECHA_PEDIMENTO" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="MGWCOMPO">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MGW10005">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="cCodigoP01" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cDescrip01" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cCodAltern" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cCtaPred" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cTextoEx01" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cTextoEx02" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cTextoEx03" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cImporte01" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cImporte02" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cImporte03" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cImporte04" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cFechaEx01" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cNomAltern" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cDescCorta" type="xs:string" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MGW10003">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="cCodigoA01" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cNombreA01" type="xs:string" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Funciones">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="f_NETOCONDESC" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_NETOMOVTO" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_IVANETOMOVTO" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_PRECIOIVAMOVTO" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_SERIESHORIZ" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_LOTESHORIZ" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_NETODESCIVA0" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_NETODESCIVA11" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_NETODESCIVA16" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_NUMPARTIDA" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTERISTICAMOVTO1" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTERISTICAMOVTO2" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTERISTICAMOVTO3" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTABREVIAMOVTO1" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTABREVIAMOVTO2" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTABREVIAMOVTO3" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTERISTICAUNIDADES" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CLASIFPRODUCTOMOVTO1" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CLASIFPRODUCTOMOVTO2" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CLASIFPRODUCTOMOVTO3" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CLASIFPRODUCTOMOVTO4" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CLASIFPRODUCTOMOVTO5" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CLASIFPRODUCTOMOVTO6" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_NETOCONDESCPOS" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_PRECIOUNITCONDESC" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_TOTALENTREUNIDSMOVTO" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_PRECIOUNITARIOCONIEPS" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_NETOMOVTOIEPS" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_PRECIOUNITCONDESCIEPS" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_NETOMOVTOIEPSSINDESC" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_IVAMOVTODESCTOIEPS" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_DESCTOPUNITARIOIEPS" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_PRECIOUNITARIOCONIEPSSINDESC" type="xs:string" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MGW10010">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="cPrecioC01" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cIdProdu01" type="xs:string" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MGW10000">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="cPrecios01" type="xs:string" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MGW10025" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="cNumeroL01" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cFechaFa01" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cFechaCa01" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cPedimento" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cAduana" type="xs:string" use="optional" />
                                                                    <xs:attribute name="cFechaPe01" type="xs:string" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Caracteristica" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="f_CARACTERISTICAMOVTO1" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTERISTICAMOVTO2" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTERISTICAMOVTO3" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTABREVIAMOVTO1" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTABREVIAMOVTO2" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTABREVIAMOVTO3" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_CARACTERISTICAUNIDADES" type="xs:string" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Lote" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="f_NUMERO_LOTE" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_FECHAFAB_LOTE" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_FECHACAD_LOTE" type="xs:string" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Pedimento" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="f_PEDIMENTO" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_ADUANA" type="xs:string" use="optional" />
                                                                    <xs:attribute name="f_FECHA_PEDIMENTO" type="xs:string" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="cNumeroM01" type="xs:string" use="optional" />
                                                <xs:attribute name="cSCMovto" type="xs:string" use="optional" />
                                                <xs:attribute name="cImpuesto1" type="xs:string" use="optional" />
                                                <xs:attribute name="cPorcent01" type="xs:string" use="optional" />
                                                <xs:attribute name="cImpuesto2" type="xs:string" use="optional" />
                                                <xs:attribute name="cPorcent02" type="xs:string" use="optional" />
                                                <xs:attribute name="cImpuesto3" type="xs:string" use="optional" />
                                                <xs:attribute name="cPorcent03" type="xs:string" use="optional" />
                                                <xs:attribute name="cRetenci01" type="xs:string" use="optional" />
                                                <xs:attribute name="cPorcent04" type="xs:string" use="optional" />
                                                <xs:attribute name="cRetenci02" type="xs:string" use="optional" />
                                                <xs:attribute name="cPorcent05" type="xs:string" use="optional" />
                                                <xs:attribute name="cNeto" type="xs:string" use="optional" />
                                                <xs:attribute name="cTotal" type="xs:string" use="optional" />
                                                <xs:attribute name="cImporte01" type="xs:string" use="optional" />
                                                <xs:attribute name="cImporte02" type="xs:string" use="optional" />
                                                <xs:attribute name="cImporte03" type="xs:string" use="optional" />
                                                <xs:attribute name="cImporte04" type="xs:string" use="optional" />
                                                <xs:attribute name="cFechaEx01" type="xs:string" use="optional" />
                                                <xs:attribute name="cUnidade02" type="xs:string" use="optional" />
                                                <xs:attribute name="cDescuen01" type="xs:string" use="optional" />
                                                <xs:attribute name="cPorcent06" type="xs:string" use="optional" />
                                                <xs:attribute name="cDescuen02" type="xs:string" use="optional" />
                                                <xs:attribute name="cPorcent07" type="xs:string" use="optional" />
                                                <xs:attribute name="cDescuen03" type="xs:string" use="optional" />
                                                <xs:attribute name="cPorcent08" type="xs:string" use="optional" />
                                                <xs:attribute name="cDescuen04" type="xs:string" use="optional" />
                                                <xs:attribute name="cPorcent09" type="xs:string" use="optional" />
                                                <xs:attribute name="cDescuen05" type="xs:string" use="optional" />
                                                <xs:attribute name="cPorcent10" type="xs:string" use="optional" />
                                                <xs:attribute name="cReferen01" type="xs:string" use="optional" />
                                                <xs:attribute name="cObserva01" type="xs:string" use="optional" />
                                                <xs:attribute name="cTextoEx01" type="xs:string" use="optional" />
                                                <xs:attribute name="cTextoEx02" type="xs:string" use="optional" />
                                                <xs:attribute name="cTextoEx03" type="xs:string" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="cNumeroM01" type="xs:string" use="optional" />
                                    <xs:attribute name="cSCMovto" type="xs:string" use="optional" />
                                    <xs:attribute name="cImpuesto1" type="xs:string" use="optional" />
                                    <xs:attribute name="cPorcent01" type="xs:string" use="optional" />
                                    <xs:attribute name="cImpuesto2" type="xs:string" use="optional" />
                                    <xs:attribute name="cPorcent02" type="xs:string" use="optional" />
                                    <xs:attribute name="cImpuesto3" type="xs:string" use="optional" />
                                    <xs:attribute name="cPorcent03" type="xs:string" use="optional" />
                                    <xs:attribute name="cRetenci01" type="xs:string" use="optional" />
                                    <xs:attribute name="cPorcent04" type="xs:string" use="optional" />
                                    <xs:attribute name="cRetenci02" type="xs:string" use="optional" />
                                    <xs:attribute name="cPorcent05" type="xs:string" use="optional" />
                                    <xs:attribute name="cNeto" type="xs:string" use="optional" />
                                    <xs:attribute name="cTotal" type="xs:string" use="optional" />
                                    <xs:attribute name="cImporte01" type="xs:string" use="optional" />
                                    <xs:attribute name="cImporte02" type="xs:string" use="optional" />
                                    <xs:attribute name="cImporte03" type="xs:string" use="optional" />
                                    <xs:attribute name="cImporte04" type="xs:string" use="optional" />
                                    <xs:attribute name="cFechaEx01" type="xs:string" use="optional" />
                                    <xs:attribute name="cUnidade02" type="xs:string" use="optional" />
                                    <xs:attribute name="cDescuen01" type="xs:string" use="optional" />
                                    <xs:attribute name="cPorcent06" type="xs:string" use="optional" />
                                    <xs:attribute name="cDescuen02" type="xs:string" use="optional" />
                                    <xs:attribute name="cPorcent07" type="xs:string" use="optional" />
                                    <xs:attribute name="cDescuen03" type="xs:string" use="optional" />
                                    <xs:attribute name="cPorcent08" type="xs:string" use="optional" />
                                    <xs:attribute name="cDescuen04" type="xs:string" use="optional" />
                                    <xs:attribute name="cPorcent09" type="xs:string" use="optional" />
                                    <xs:attribute name="cDescuen05" type="xs:string" use="optional" />
                                    <xs:attribute name="cPorcent10" type="xs:string" use="optional" />
                                    <xs:attribute name="cReferen01" type="xs:string" use="optional" />
                                    <xs:attribute name="cObserva01" type="xs:string" use="optional" />
                                    <xs:attribute name="cPrecioC01" type="xs:string" use="optional" />
                                    <xs:attribute name="cIdProdu01" type="xs:string" use="optional" />
                                    <xs:attribute name="cTextoEx01" type="xs:string" use="optional" />
                                    <xs:attribute name="cTextoEx02" type="xs:string" use="optional" />
                                    <xs:attribute name="cTextoEx03" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>